
<div ng-controller="MainController">
  <div automatch-swipe class="card">
    <div class="price-tag">{{ price }}€</div>
    <div class="car-image">
      <div class="car-title">
        {{ title }}
      </div>
    </div>
  </div>
</div>

