
<div ng-controller="MainController">
  <div automatch-swipe class="card">
    <div class="price-tag">{{ price }}€</div>
    <div class="car-image">
      <div class="car-title">
        {{ title }}
      </div>
    </div>
  </div>
  <div class="sidebar">
    <ul>
    <li ng-repeat="item in items">
        <p>Name: </p>
        <p>Cost: </p>
        <slider floor="100" ceiling="1000" step="50" precision="2" ng-model="item.cost"></slider>
    </li>
    </ul>
  </div>

</div>
