
<div ng-controller="MainController">
  <div automatch-swipe class="card" ng-repeat="car in cars track by car.id">
    <div class="price-tag">{{ car.price }}</div>
    <div class="car-image" ng-style="{ 'background-image': 'url(' + getImage(car) + ')' }">
      <div class="car-title">
        {{ car.title }}
      </div>
    </div>
    <a ng-attr-href="{{ car.url }}" class="icon-money-1 buy-button"> BUY!</a>
    <div class="fav-button icon-heart"></div>
  </div>
</div>

