
<div class="logo"></div>

<div ng-controller="MainController">
  <div ng-style="{ 'background-color': action == 'like' ? 'green' : action == 'favorite' ? 'white' : 'red' }"
       class="big-button"
       ng-class="{ 'icon-thumbs-up': action == 'like', 'icon-thumbs-down': action == 'dislike', 'icon-heart': action == 'favorite' }">
  </div>

  <div automatch-swipe
     like="like(car)"
     dislike="dislike(car)"
     notify="showBigButton(action)"
     class="card"
     ng-style="{ 'z-index': $length - $index, width: cardWidth, left: cardX }"
     ng-repeat="car in cars track by car.id">
    <div class="shariff" ng-attr-data-url="{{ car.url }}"></div>
    <div class="price-tag">{{ car.price }}</div>
    <div class="car-image" ng-style="{ 'background-image': 'url(' + getImage(car) + ')' }">
      <div class="car-title">
        {{ car.title }}
      </div>
    </div>
    <a ng-show="$index == 0"
       automatch-click="openUrl(car.url)"
       class="icon-money-1 buy-button"> BUY!</a>

    <a ng-show="$index == 0"
       automatch-click="favorite(car)"
       class="fav-button icon-heart"></a>

  </div>

  <div class="automatchSidebar">
    <automatch-slider onupdate="updatePriceBoundaries(min, max)" max="upperPrice" min="lowerPrice"></automatch-slider>
    <label class="suggestions"><input ng-change="toggleShowSuggestions(suggestionsOnly)" ng-model="suggestionsOnly" type="checkbox"> Vorschläge</label>
  </div>

  <div class="buttons-container">
    <div automatch-click="like()" class="thumbsup-button icon-thumbs-up"></div>
    <div automatch-click="dislike()" class="thumbsdown-button icon-thumbs-down"></div>
  </div>
</div>
