<!DOCTYPE html>
<html ng-app="automatch">
  <head>
    <title>New Sails App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/automatch.css">
    <link rel="stylesheet" href="/styles/automatchSlider.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/sidebar.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/angular-touch/angular-touch.js"></script>
    <script src="/vendor/angular-ui-slider/slider.js"></script>
    <script src="/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/MainController.js"></script>
    <script src="/js/directives/automatchSidebar.js"></script>
    <script src="/js/directives/automatchSlider.js"></script>
    <script src="/js/directives/automatchSwipe.js"></script>
    <script src="/js/services/CarProvider.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
