@accent: #448AFF;

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #333;
  height: 100%;
  width: 100%;
  font-family: 'Roboto-Condensed', sans-serif;
}
body:not(.no-overflow) {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.logo {
  width: 100px;
  height: 40px;
  background-size: contain;
  background-image: url(/images/logo.png);
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 999;
}

.big-button {
  border-radius: 200px;
  height: 200px;
  width: 200px;
  margin-left: -100px;
  margin-top: -100px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 8;
  line-height: 230px;
  text-align: center;
  display: none;
  transform: translate3d(0, 0, 0);

  &:before {
    font-size: 64px;
    color: white;
  }

  &.icon-heart:before {
    color: red;
    font-size: 128px;
    line-height: 220px;
  }

  &.animate {
    -webkit-animation: show-big-button 800ms;
    -webkit-animation-fill-mode: both;
    -moz-animation: show-big-button 800ms;
    -moz-animation-fill-mode: both;
    animation: show-big-button 800ms;
    animation-fill-mode: both;
  }
}

@-moz-keyframes show-big-button {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show-big-button {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes show-big-button {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.suggestions {
  position: absolute;
  display: block;
  top: 92px;
  font-size: 14px;
  left: 32px;
}

.favorites-button {
  top: 136px;
  left: 32px;
  position: absolute;

  font-weight: bold;
  background-color: #F0C400;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: white;
}

.link-back {
  color: white;
  font-weight: bold;
}

.loading-indicator {
  color: #eee;
  font-size: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -70px;
  margin-top: -70px;
  text-align: center;

  &:after {
    content: 'Wird geladen ...';
    display: block;
    font-size: 22px;
  }
}

@import 'card.less';
@import 'buttons.less';
@import 'favorites.less';
